<header class="header" id="header">
  <div class="limit flex flex-wrap">
    <div class="header-logo"><img src="/assets/images/logo.png" alt="SSCOM"></div>
  
    <nav class="header-nav">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li>
          <a routerLink="/clientes">Cliente</a>
          <ul>
            <li><a routerLink="/clientes">Lista</a></li>
            <li><a routerLink="/clientes/cadastrar">Cadastrar</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>