@import "~assets/scss/variables";

.header {
  background-color: $menu-background;
  width: 100%;
  // height: 50px;
  .limit {
    height: 50px;;
    padding: 0;
    align-items: center;
  }
  &-logo {
    img {
      height: 50px;
    }
  }
  &-nav {
    text-align: right;
    flex: 1;
    ul {
      display: block;
      li {
        position: relative;
        display: inline-block;
        &:hover {
          ul {
            visibility: visible;
            opacity: 1;
          }
        }
        a {
          display: block;
          padding: 6px 30px;
          color: $menu-link-color;
          font-size: $menu-link-size;
          text-decoration: none;
        }
        ul {
          position: absolute;
          background-color: $menu-background;
          visibility: hidden;
          opacity: 0;
          z-index: 9;
          transition: all .3s;
          li {
            display: block;
            text-align: left;
          }
        }
      }
    }
  }
}