<div [formGroup]="cep">
  <mat-form-field class="demo-full-width">
    <input matInput formControlName="cep" placeholder="CEP" autocomplete="new-password" [textMask]="cepMask" (keypress)="getZip($event.target.value);" (focusout)="getZip($event.target.value);">
  </mat-form-field>
</div>
