@import "variables";

.btn {
  background-color: $button-background;
  color: $button-text;
  font-size: 1.3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken($button-background, 5%);
  }
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  @extend .btn;
}

@media (max-width: 767px) {
  .btn {
    width: 100%;
  }
}
