@import "~assets/scss/variables";

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 15px;
  label {
    color: #909BAF;
    display: inherit;
    font-size: 1.2rem;
    padding-left:10px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  input, select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid $form-border;
    font-size: $form-size;
    &:focus {
      border-color: $form-border-focus;
    }
  }
  select {
    padding: 0;
    background-color: white;
  }
  &.error {
    input, select {
      border-color: $form-error;
    }
    p {
      position: absolute;
      bottom: 0;
      color: $form-error;
      font-size: $form-error-mensage;
    }
  }
}

mat-form-field.mat-form-field {
  display: block;
  font-size: 16px;
}