table {
  width: 100%;
}

mat-header-row {
  padding: 0;
  div {
    flex: 1;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 24px;
  }
}

.mat-paginator-page-size {
  display: none!important;
}

.mat-row {
  min-height: inherit;
  padding: 0;
  div {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
    cursor: pointer;
  }
}
.mat-header-row, .mat-row {
  padding: 0!important;
}