// Fonts
$fontFamily: 'Roboto', sans-serif;
$font-size: 12px;

// menu
$menu-background: #670000;
$menu-link-color: white;
$menu-link-size: 13px;

// button
$button-background: #088C45;
$button-text: white;
$button-text-size: 1.3rem;

// form
$form-size: 1.2rem;
$form-border: #C6CCD6;
$form-border-focus: #8795ad;
$form-error: red;
$form-error-mensage: 1rem;
