.spinner-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgba(255,255,255,.8);
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}