.btnFilter {
  margin-top: 14px;
}

.name-cell{
  flex: 3;
}
.email-cell{
  flex: 3;
}
.cep-cell{
  flex: 2;
}
.phone-cell{
  flex: 2;
}
.status-cell{
  flex: 1;
}

@media (max-width: 900px) {
  .status-cell, .email-cell {
    display: none;
  }
}
@media (max-width: 767px) {
  .cep-cell {
    display: none;
  }
}
