<div class="limit">
  <div class="spinner-container" [ngClass]="{'show': loading}">
    <mat-spinner></mat-spinner>
  </div>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Lista de Clientes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
  
      <section class="">
        <form [formGroup]="searchForm" (submit)="sendForm()" autocomplete="off">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="demo-full-width">
                <input matInput formControlName="search" placeholder="Nome" autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="demo-full-width">
                <input matInput formControlName="email" placeholder="E-mail" autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <sscom-search-cep [cep]="searchForm"></sscom-search-cep>
            </div>
            <div class="col-md-3">
              <button mat-button color="primary" class="btnFilter">Buscar</button>
            </div>
          </div>
        </form>
  
        <div class="table-responsive">
          <mat-table class="clients-table" [dataSource]="clients">
            <ng-container matColumnDef="name">
              <div *matHeaderCellDef class="name-cell">Nome</div>
              <div class="name-cell" *matCellDef="let client" (click)="redirect(client.id)">{{ client.name }}</div>
            </ng-container>
    
            <ng-container matColumnDef="email">
              <div *matHeaderCellDef class="email-cell">E-mail</div>
              <div class="email-cell" *matCellDef="let client" (click)="redirect(client.id)">{{ client.email }}</div>
            </ng-container>
    
            <ng-container matColumnDef="cep">
              <div *matHeaderCellDef class="cep-cell">CEP</div>
              <div class="cep-cell" *matCellDef="let client" (click)="redirect(client.id)">{{ client.cep | cep }}</div>
            </ng-container>
    
            <ng-container matColumnDef="phone">
              <div *matHeaderCellDef class="phone-cell">Telefone</div>
              <div class="phone-cell" *matCellDef="let client" (click)="redirect(client.id)">{{ client.phone | phone }}</div>
            </ng-container>
    
            <ng-container matColumnDef="status">
              <div *matHeaderCellDef class="status-cell">Status</div>
              <div class="status-cell" *matCellDef="let client" (click)="redirect(client.id)">{{ client.status }}</div>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
    
          <mat-paginator [length]="resultsLength"></mat-paginator>
        </div>
        
      </section>
  
    </mat-card-content>
  </mat-card>
</div>
