<div class="limit">
  <div class="spinner-container" [ngClass]="{'show': loading}">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ isUpdate() ? 'Editar Cliente' : 'Cadastro de Cliente' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section class="clients" *ngIf="!loading">
        <form [formGroup]="clientForm">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="demo-full-width">
                <input matInput formControlName="name" placeholder="Nome" autocomplete="new-password">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="demo-full-width">
                <input matInput formControlName="email" placeholder="E-mail" autocomplete="new-password">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="demo-full-width">
                <input matInput formControlName="phone" placeholder="Telefone" autocomplete="new-password" [textMask]="maskPhone" (keypress)="changeMask($event.target.value);">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <sscom-search-cep [cep]="clientForm" (address)="receiveAddress($event)"></sscom-search-cep>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field *ngIf="isUpdate()">
                <mat-select placeholder="Status" formControlName="status">
                  <mat-option value="active">Ativo</mat-option>
                  <mat-option value="archive">Arquivado</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <button type="submit" mat-button color="primary" (click)="sendForm()">{{ isUpdate() ? 'Editar' : 'Cadastrar' }}</button>
        </form>
      </section>
    </mat-card-content>
  </mat-card>
</div>
