<div class="limit">
  <div class="spinner-container" [ngClass]="{'show': loading}">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ficha do Cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" *ngIf="client">
        <div class="col-md-3">
          <p>
            <strong>Nome:</strong><br> {{ client.name }}
          </p>
        </div>
        <div class="col-md-3">
          <p>
            <strong>E-mail:</strong><br> {{ client.email }}
          </p>
        </div>
        <div class="col-md-3">
          <p>
            <strong>Telefone:</strong><br> {{ client.phone | phone }}
          </p>
        </div>
        <div class="col-md-12">
          <p>
            <strong>Endereço:</strong><br> {{ client.cep | cep }}<br> {{ client.fullAddress() }}
          </p>
        </div>
        <div class="col-md-12">
          <p>
            <strong>Status:</strong><br> {{ client.status }}
          </p>
        </div>
        <div class="col-md-12">
          <a routerLink="/clientes/{{ client.id }}/editar" color="primary" mat-button>Editar</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>